
  .container-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .card-movie {
    max-width: 320px;
    margin: 10px;
     align-items: center; 
     text-align: center;
  }

  
 p {
    max-width: 225px;
    font-size: 15px;
    
 }
  
 .button-container {
   margin: 0.5rem;
 }
 button {
  margin-left: 1rem;
 }