
  .container-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .card-movie {
    max-width: 320px;
    margin: 10px;
     align-items: center; 
     text-align: center;
  }

  a {
    margin: 2rem;
  }
 
  