<div class="container-card">
  @for (movie of arrayMovies; track $index) {
  <mat-card class="card-movie" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.release}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{movie.imagen}}" width="170" height="250" alt="Photo of a Shiba Inu">
    <mat-card-content class="aling-text">
      <p>
        {{movie.cast}}
      </p>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <app-rating (votacion)="procesarVoto($event)"></app-rating>
      
    </mat-card-actions>
    <div class="button-container content-button">
      <a mat-flat-button>Editar </a>
      <button mat-flat-button type="button" color="warr">Borrar</button>
    </div>
  </mat-card>
  }
</div>